<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/student_reg/" method="post"></form>
        <p>
            <label for="sd">学生姓名:</label><input id="sd" name="sname" type="text">
        </p>

        <p>
            <label for="sc">所属班级:</label>
            <select id="sc" name="clsname">
                <option value=""></option>
            </select>
        </p>
        <p>
            <label for="cls">选课:</label>

            <input id="cls" name="courname" type="checkbox" value="">
        </p>

        <p>
            <input id="sub" value="注册" type="submit">
        </p>
</body>
</html>